<!-- <div [ngClass]="{'inactive':!dice.isActive}">
  <p class="title is-4" (click)="selected()">{{dice.currentValue}}</p>
</div> -->

<div class="dice">
  <div id="1" class="dice-node"></div>
  <div id="2" class="dice-node"></div>
  <div id="3" class="dice-node"></div>
  <div style="clear:both"></div>
  <div id="4" class="dice-node"></div>
  <div id="5" class="dice-node"></div>
  <div id="6" class="dice-node"></div>
   <div style="clear:both"></div>
  <div id="7" class="dice-node"></div>
  <div id="8" class="dice-node"></div>
  <div id="9" class="dice-node"></div>
</div>
