<div class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <!-- <img src="https://bulma.io/images/placeholders/64x64.png"> -->
      <img src="{{ player.avatar }}" alt="avatar">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p><strong>{{player.name}}</strong></p>
      <div class="level">
        <div class="level-left">
            <span class="level-item">
              <strong>Score:</strong>{{player.currentScore}}
            </span>
            <span class="level-item">
              <strong>Tot.:</strong>{{player.totalScore}}
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
