<div class="modal"
     [ngClass]="{'is-active':showPopup}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card card-animate" [ngClass]="{'animate-popup': showPopup}">
      <div class="card-content has-text-centered has-background-primary">
        <div [innerHTML]="popupMessage"></div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large"
          (click)="closeModel()"
          aria-label="close"></button>
</div>

<section class="section game-title has-text-centered is-paddingless">
  <app-dice-logo></app-dice-logo>
 </section>

<section class="section">
  <div class="columns">
    <div class="column"
         *ngFor="let dice of totalDice">
      <app-dice [dice]="dice"
                (onSelect)="selectDice($event)"></app-dice>
    </div>
  </div>
</section>
<section class="section">
  <div class="level">
    <div class="level-left">

      <div class="field is-grouped is-grouped-multiline level-item">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Rolled</span>
            <span class="tag is-warning">{{ numOfTimesPlayerRolled }}</span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Left</span>
            <span class="tag is-warning">{{ remainingRoll() }}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="level-left">
      <button class="button is-outlined is-info level-item"
              (click)="rollDice()"
              [disabled]="disableRoll">Roll Dice</button>
      <button class="button is-outlined is-danger level-item"
              (click)="finishTurn()">Finish Turn</button>
    </div>
    <div class="level-right">
      <div class="tags has-addons level-item">
        <span class="tag">Rounds</span>
        <span class="tag is-warning">{{currentRound}}/{{totalRounds}}</span>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column"
         *ngFor="let player of players">
      <span class="tag"
            [ngClass]="{'is-warning':isPlayersTurn(player)}">Turn</span>
      <app-player-statistics [player]="player"></app-player-statistics>
    </div>
  </div>
</section>
