<section class="section">
  <div class="columns">
    <div class="column" *ngFor="let dice of totalDice">
      <app-dice [dice]="dice"
      (onSelect)="selectDice($event)"></app-dice>
    </div>
  </div>
</section>
<section class="section">
  <div class="level">
    <div class="level-left">

      <div class="field is-grouped is-grouped-multiline level-item">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Rolled</span>
            <span class="tag is-warning">{{ numOfTimesPlayerRolled }}</span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag">Left</span>
            <span class="tag is-warning">{{ remainingRoll() }}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="level-left">
      <button class="button is-outlined is-info level-item" (click)="rollDice()" [disabled]="disableRoll">Roll Dice</button>
      <button class="button is-outlined is-danger level-item" (click)="finishTurn()">Finish Turn</button>
    </div>
    <div class="level-right">
      <div class="tags has-addons level-item">
        <span class="tag">Rounds</span>
        <span class="tag is-warning">{{currentRound}}/{{totalRounds}}</span>
      </div>
    </div>
  </div>
</section>
<!-- <section class="section">
  <div class="columns">
    <div class="column is-12">
      <div class="columns">
        <div class="column" *ngFor="let dice of totalDice">
          <app-dice [dice]="dice" (onSelect)="selectDice($event)"></app-dice>
        </div>
      </div>
    </div>
    <div class="column is-2">
      <div class="field">
        <button class="button is-medium is-info is-outlined control"
                (click)="rollDice()"
                [disabled]="disableRoll">Roll Dice</button>
                <br/>
                <span>Rolled:{{ numOfTimesPlayerRolled }}</span><span>Left:{{ remainingRoll() }}</span>
      </div>
      <div class="field">
        <button class="button is-medium is-danger is-outlined control" (click)="finishTurn()">Finish Turn</button>
      </div>
      <div>
        <span class="title is-6">Round: {{currentRound}}/{{totalRounds}}</span>
      </div>
    </div>
  </div>
</section> -->
<section class="section">
  <div class="columns">
    <div class="column"
         *ngFor="let player of players">
      <span class="tag"
            [ngClass]="{'is-warning':isPlayersTurn(player)}">Turn</span>
      <app-player-statistics [player]="player"></app-player-statistics>
    </div>
  </div>
</section>
