<section class="section game-title has-text-centered is-paddingless">
  <h1 class="is-lucky-font">Dice</h1>
  <h1 class="is-lucky-font" [ngClass]="{'game-title-animate': animateTitle}">Roll</h1>
</section>
<section class="section is-paddingless">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <app-add-player (onPlayerAdd)="playerAdd($event)"></app-add-player>
    </div>
  </div>

  <section class="section is-clipped is-paddingless">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <app-player-name-list [names]="players"></app-player-name-list>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="level">
          <div class="level-left"><span class="level-item">&nbsp;</span></div>
          <div class="field level-left" >
            <div class="control level-item">
              <button class="button"
                      (click)="startGame()">Load Game</button>
            </div>
          </div>
          <div class="level-right"><span class="level-item">&nbsp;</span></div>
        </div>
      </div>
    </div>
  </section>
